/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *

 *= require store/spree_frontend

 *= require_self
 *= require_tree .
 *= require store/spree_fancy
*/

#wrapper{
	width: 960px;
	margin: 0 auto;
}

footer{
	background: #333;
	color: #fff;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 60px;
}

footer div.col{

}