<footer>
	<div id="wrapper">
		<div class="col">
			<%= image_tag 'logo_acid_49.png' %> <br />
			Hernando de Aguirre 201, oficina 1301 <br />
			Providencia, Chile <br />
			+56 2 946 2106 <br />	
			www.acid.cl
		</div>
	</div>
</footer>